@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  *, ::before, ::after {
    font-family: "Inter", sans-serif !important;
  }
  
  html, body, #root {
    font-family: "Inter", sans-serif !important;
  }
}
